{% for entry in entries -%}
hostname {{entry['hostname'] }}
{% for item in entry['interfaces'] -%}
interface {{item['int_name']}}
{{ item['switchport'] }}
{% if item['ip_address'] %}
ip address {{ item['ip_address'] }} {{ item['subnet_mask'] }}
{% endif %}
description connected to {{ item['description'] }}
{% if item['active'] %}
no
{% endif %}
shutdown
{% endfor %}
{% endfor -%}
